{% extends 'base.html.twig' %}

{% block title %}{{article.name}}{% endblock %}
{% block body %}
    <!-- MENU -->
    {% include 'Composant/menu.html.twig' with {'user': userLoggedIn} %}

    <!-- CONTENT -->
    <h1>{{blog.titre}}</h1>
    <p>{{blog.auteur}}</p>
    <p>{{blog.date_creation}}</p>
    <img src={{blog.image_id}} alt="image article" />
    <p>{{blog.contenu}}</p>


    <!-- Footer -->
    {% include 'Composant/footer.html.twig' %}

{% endblock %}