{% extends 'base.html.twig' %}


{% block title %}
	{{product.name}}
{% endblock %}
{% block body %}
	<link
	rel="stylesheet" href="css/produitDetails.css">
	<!-- MENU -->
	{% include 'Composant/menu.html.twig' with {'user': userLoggedIn} %}

	<!-- CONTENT -->
	<main>
		<div class"container-details">
			<div class="Back">
				<a href="/boutique" class="retour">&lsaquo; Retour à la boutique</a>
				<!-- Bouton qui permet de retourner à la page Liste Article-->
			</div>

			<section class="detail">

				<div class="image">
					<img src='css/img/{{bijoux.Logo}}'>
					<div class="miniature">
						<img src="css/img/col_photo.jpeg" class="content">
						<img src="css/img/col_photo2.jpeg" class="content">
						<img src="css/img/col_photo3.jpeg" class="content">
					</div>
				</div>

				<div class="product-details">
					<h2>{{bijoux.nom}}</h2>
					<p>
						{{bijoux.descriptions}}
						{{bijoux.couleur}}

					</p>
					<div class="price">
						<p>{{bijoux.prix}}€</p>
						{# <img src="css/img/size.jpg"> #}
					</div>


					<div class="btn">
						<button class="btn-panier" data-product="{{ product.id }}">Ajouter au Panier</button>
					</div>
					<hr>
					<button class="Commander">Commander</button>
					<span id="Livraison">Livraison gratuite</span>
					<span id="Dispo">Actuellement Disponible !</span>
				</div>
			</section>
			<hr class="hr2">

			<h2 id="ProduitSim">
				Produits Similaires
			</h2>
			<section class="similaire">

				<div id="divborder">
					<a href="">
						<img src="/css/img/news_picture1.jpeg">
					</a>
					<h2>Alexandra</h2>
					<div class="cards">
						<p>65€</p>
						<button>Ajouter au panier</button>
					</div>
				</div>

				<div id="divborder">
					<a href="">
						<img src="/css/img/news_picture2.jpeg">
					</a>
					<h2>Gastby</h2>
					<div class="cards">
						<p>85€</p>
						<button>Ajouter au panier</button>
					</div>
				</div>

				<div id="divborder">
					<a href="">
						<img src="/css/img/news_picture3.jpeg">
					</a>
					<h2>Square Red</h2>
					<div class="cards">
						<p>92 €</p>
						<button>Ajouter au panier</button>
					</div>

				</div>
			</section>
			<div></main>
			<!-- Footer -->
			{% include 'Composant/footer.html.twig' %}
           

		{% endblock %}
