
	<div class="card" data-id="{{product.id}}">
		<div class="image-card" style="background-image: url('css/img/{{ product.Logo }}')"></div>
		<div class="text-container-card">
			<a href="/boutique/{{product.id}}">
				<h3>{{product.nom}}</h3>
			</a>
			<p>{{product.descriptions}}</p>
			<div class="price">
				<p class="des">{{product.prix}}€</p>
				<button class="btn-panier" data-user="{{ userId }}" data-product="{{ product.id }}">Ajouter au Panier</button>
			</div>
		</div>
	</div>
