<div class="card-container">
  <div class="card">        
    <div class="image-card" style="background-image: url('{{ product.background }}')"></div>
    <div class="text-container-card">
      <a href="/boutique/{{product.id}}" ><h3>{{product.title}}</h3></a>
      <p>{{product.description}}</p>
      <div class="price">
        <p class="des">{{product.price}}€</p>
        <a class="btn-panier" href="">Ajouter au Panier</a>
    </div>
  </div>
</div>

    